@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #ed9022;
    --gradient-color-2: #1c1d1f;
    --gradient-color-3: #1c1d1f;
    --gradient-color-4: #1c1d1f;
  }
}

html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
}

