@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #b5b9ff;
    --gradient-color-2: #4e54c8;
    --gradient-color-3: #4e54c8;
    --gradient-color-4: #4e54c8;  }
}
